<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326334951620-omj8deg6ps86g9faqjqi63vedltufp4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326334951620-omj8deg6ps86g9faqjqi63vedltufp4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4EiIjOgw_3ncZ0yYVtD82P38FthIbnI</string>
	<key>GCM_SENDER_ID</key>
	<string>326334951620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolioWeb</string>
	<key>PROJECT_ID</key>
	<string>portfolio-flutter-web-86ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-flutter-web-86ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326334951620:ios:a08adeb3b87a50e1045991</string>
</dict>
</plist>